<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper的namespace写dao即数据层的包-->
<mapper namespace="org.example.novelverse.dao.UserDao">
	<resultMap id="UserMap" type="org.example.novelverse.domain.User">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="password" property="password"/>
		<result column="ifauthor" property="ifauthor"/>
		<result column="shelf"
				property="shelf"
				typeHandler="org.example.novelverse.handler.IntegerListJsonTypeHandler"/>
	</resultMap>
	
	<insert id="insert">
		insert into user (name,password,ifauthor,shelf)
		values (
		#{name},
		#{password},
		#{ifauthor},
		#{shelf, typeHandler=org.example.novelverse.handler.IntegerListJsonTypeHandler}
		)
	</insert>
	<update id="update">
		update user
		set name = #{name},
		password = #{password},
		ifauthor = #{ifauthor},
		shelf = #{shelf, typeHandler=org.example.novelverse.handler.IntegerListJsonTypeHandler}
		where id = #{id}
	</update>
	<delete id="delete">
		delete from user
		where id = #{id}
	</delete>
	<select id="getAll" resultMap="UserMap">
		select * from user
	</select>
	<select id="getById" resultMap="UserMap">
		select * from user where id = #{id}
	</select>
	<select id="getByName" resultMap="UserMap">
		select * from user where name = #{name}
	</select>
</mapper>