a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
}

/* 日间 */
#app.light {
  background: #f9fafb;
}

/* 夜间 */
#app.dark {
  background: #020617;
}
